[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
sentence-transformers = "*"
protobuf = "*"
pathlib = "*"
umap-learn = "*"
hdbscan = "*"

[dev-packages]
ipython = "*"
black = "==20.8b1"
matplotlib = "*"

[requires]
python_version = "3.8"
